body
{
    height: 100%;
    margin:0;
    font-family: sans-serif;
}
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 16.5%;
  }
  .tablink:hover {
    background-color:rgb(255, 123, 0);
  }
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  #home{background-color:red;}
  #numberconversion{background-color:green;}
  #numberoutputs{background-color:blue;}
  #combinatronics{background-color:purple;}
  #Truthtables{background-color:black;}
  #randomvalues{background-color:brown;}
